.menu {
    width: 1200px;
}

.menu a {
    margin-left: 85px;
    color:red;
    font-weight: bold;
    padding: 40px;
    font-size: 20px;
    text-decoration: none;
}

.menu li {
    display: inline-block;
}

*.img {
    width: 100%;
}

.heading{
    width: 1200px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}
.text {
    width: 1200px;
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
}

.main button{
    margin-left: 550px;
    margin-top: 66px;
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.footer {
    text-align : right;
    width: 1200px;
}
