.body {
}
.header-slogan {
    width: 1900px;
    height: 70px;
    background-color: #313131;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo {
    padding-right: 27px;
    padding-left: 27px;
}
.header-logo-name {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;

}

.search-btn-img {
    width: 68px;
    height: 70px;
    background: black;
    position: absolute;
    margin-left: 1830px;
}
.search-img {
    position: absolute;
    align-items: center;
}
.header-menu {
    padding-left: 442px;
    padding-right: 425px;
}
.header-menu-list {
    display: inline-block;
    text-decoration: none;
    padding-left: 35px;
}
.header-list-link {
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.header-list-link:hover {
    color: #14B9D5;
}
.header-block {
    width: 1900px;
    height: 369px;
    background-color: #F2F2F2;
    background-image: url('../img/header-background.png');

}
.header-block-heading {
    position: relative;
    top: 164px;
    left: 658px;
    width: 677px;
    height: 32px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}
.button-header-block {
    position: relative;
    display: inline-block;
    top: 200px;
    left: 816px;
}
.button-green {
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #89CA62;
    padding: 16px 19px 17px 19px;
    margin-right: 20px;
    border-radius: 5px;

}
.button-blue {
    background-color: #14B9D5;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 19px 17px 19px;
    border-radius: 5px;
}
.popular-posts {
    width: 1900px;
    height: 1030px;
    background-color: #F2F2F2;
}
.popular-posts-heading {
    width: 330px;
    height: 33px;
    margin-left: 791px;
    padding-top: 47px;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    background-color: #F2F2F2;}

.popular-posts-flex-container {
    display: flex;
    justify-content: center;
    margin-top: 52px;
}
.column-1 {
    width: 370px;
    background-color: #F2F2F2;
}
.column-1-box-1 {
    background-color: white;
}
.column-1-box-2 {
    margin-top: 31px;
    background-color: white;}

.flex-box-text {
    padding: 20px 16px 22px 14px;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}
.column-2 {
    background-color: #F2F2F2;
    width: 370px;
    padding-left: 30px;
}

.column-2-box-1 {
    background-color: white;
}
.column-2-box-2 {
    background-color: white;
    margin-top: 32px;
}
.column-3 {
    background-color: #F2F2F2;
    width: 370px;
    padding-left: 30px;
}
.column-3-box-1 {
    background-color: white;
}
.column-3-box-2 {
    background-color: white;
    margin-top: 28px;
}

.popular-clients {
    width: 1900px;
    height: 588px;
    background-image: url("../img/layer41.png");
}
.popular-clients-heading {
    position: relative;
    top: 106px;
    left: 702px;
    width: 677px;
    height: 32px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.popular-clients-logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 357px;
    margin-left: 510px;

}
.popular-clients-img {
    padding-left: 50px;
}
.top-rated-heading {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;

}
.top-rated-heading {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 49px;
    margin-left: 868px;

}
.top-rated-images {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 52px;
}
.hot-news-heading {
    width: 170px;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 52px;
    margin-left: 873px;
}

.grid-container-hot-news {
    margin-left: 372px;
    margin-top: 51px;
    margin-bottom: 77px;
    display: grid;
    grid-gap: 10px 10px;
    grid-template-areas:
    'a a a b'
    'c c d d '
    'e e f f'
    'g h h h';

}
.grid-item-1 {
    grid-area: a;

}

.grid-item-2 {
    grid-area: b;}

.grid-item-3 {
    grid-area: c;
}
.grid-item-4 {
    grid-area: d;
}
.grid-item-5 {
    grid-area: e;
}
.grid-item-6 {
    grid-area: f;
}
.grid-item-7 {
    grid-area: g;
}
.grid-item-8 {
    grid-area: h;
}



.grid-item-1 {
    width: 856px;
    height: 289px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-text-1{
    display:block;
    background-color: #F9F7F7 ;
    width: 370px;
    height: 259px;
    justify-content: center;
}
.grid-p1 {
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding: 5px;
    text-align: end;
}
.grid-item-2 {
    height: 210px;
    width: 277px;

}
.grid-text-2 {
    background-color: #F9F7F7;
    display: block;
}

.grid-item-3 {
    width: 554px;
    height: 418px;

}
.grid-item-4 {
    width: 554px;
    height: 418px;
}
.grid-item-5 {
    width: 554px;
    height: 418px;}

.grid-item-6 {
    width: 554px;
    height: 418px;}

.grid-item-7 {
    height: 210px;
    width: 277px;
}
.grid-item-8 {
    width: 856px;
    height: 289px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.grid-h {
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    background-color: #F9F7F7;

}
.grid-p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    background-color: #F9F7F7;
    text-align: end;



}
.grid-heading-only {
    display: grid;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background-color: #F9F7F7;
    padding-bottom: 20px;
}
.footer {
    background-color: #000000;
    width: 1929px;
    height: 80px;
    display: grid;
    grid-column: unset;
}
.footer-text {
    display: inline-block;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    margin-left: 367px;
    margin-top: 29px;


}
.footer-logo {
    display: grid;
grid-template-columns: repeat(2, 30px);
    margin-left: 1438px;


}