.body-style {
    width: 1366px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/background 1.png');

}
.logo-titles {
    display: flex;
    flex-direction: row;
}
.milan {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
}
.holidays {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 18px;
}
.logo {
    margin-left: 155px;
    margin-top: 51px;
}
.logo-link {
    text-decoration: none;
    color: #FAFAFA;
}
.logo-link-milan {
    text-decoration: none;
    color: #FAFAFA;
}
.logo-style {
    position: absolute;
   left: 3.5cm;
    top: 1.3cm;
    z-index: 2;
    opacity:1;
}
.logo-style:hover {
    opacity: 0;
}
.logo-link:hover {
    color: #F26522;
}
.logo-link-milan:hover {
    color: #F26522;
}
.logo-hidden {
    position: absolute;
    left: 3.5cm;
    top: 1.3cm;
    z-index: 2;
    opacity: 1;
}
.logo-link:hover>.logo-link-milan {
    color: #F26522;
}
.phone-link {
    text-decoration: none;
    color: #FAFAFA;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.mail-link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.mail-link:hover {
    color: #F26522;
}
.phone-link:hover {
    color: #F26522;
}
.header-contacts {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 970px;
    top: 38px;
}
.main-box {
    width: 300px;
    display: flex;
    text-align: center;
    padding-top: 22px;

}
.list-link {
    text-decoration: none;
    color: #FFFFFF;
}
.list-link:hover {
    color: #F26522;
}
.main-box-p-style {
    margin-top: 20px;
    margin-bottom: 49px;
}
.hidden-block {
    width: 297px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    top: 289px;
    left: 145px;
    z-index: 2;
    opacity: 0;
}
.hidden-block:hover {
    width: 297px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    top: 289px;
    left: 145px;
    z-index: 2;
    opacity: 1;}

.hidden-block-style {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF;
    position: absolute;
    left:10px;
    top: 7px;

}
.hidden-block-style-div{
    display: flex;
    flex-direction: row ;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 30px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.price {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 20px;
}
.details {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 100px;
}
.flex-container {
    width: 1100px;
    margin-left: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.main-box {
margin-left: 60px
}
.footer-style {
    display: block;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 530px;
    padding-bottom: 20px;
}