.body {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 0;
    margin: 30px;
    color: black;
}
.heading-special {
    color: aqua;
}
.link-style {
    text-decoration: none;
    color: black;

}
.header {
    width: 1283px;
    height: 72px;
}

.header-menu {
    display: flex;
    position: inherit;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #35444f;
    cursor: pointer;
}
.header-li {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 26px 45px  19px 45px;
    margin-left: -.36em;
    background-color: #35444f;
    border : 1px solid #FAFAFA;
    color: #FAFAFA;
}
.header-link {
    text-decoration: none;
    color:#FAFAFA;
    background-color: #35444f;
}
.header-li:hover {
    background-color: #222F3A;
}
.header-link:hover {
    background-color: #222F3A;}
.header-li:hover>.header-link {
    background-color: #222F3A;

}


.sidenav {
    display: flex;
    width: 344px;
    height: 399px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
.sidenav-menu {
    display: flex;
    flex-direction: column;
    width: 344px

}
.sidenav-menu li>a {
display: block;
}
.sidenav-link {
    color: black;
    text-decoration: none;
}
.sidenav-list {
    width: 342px;
    height: 81px;
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    padding-top: 16px;
}
.sidenav-link:hover {
    background-color: #DBDBDB;
    text-decoration: underline;
    text-decoration-color: #4FCAFB;
    font-weight: bold;

}
.sidenav-list:hover {
    text-decoration-color: #4FCAFB;
    background-color: #DBDBDB;}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 1280px;
    margin-top: 48px;
}
.main-container {
    width: 885px;
    display: flex;
    flex-direction: column;
    margin-left: 53px;

}

.main-img {
    width: 320px;
    height: 381px;
    border: 1px solid black;
    padding: 75px 268px 73px 297px;
}
img {
    transition: transform 0.25s;
}

.main-img:hover img {
    transform: scale(1.1);
}
.main-text {
    width: 880px;
    height: 120px;
    margin-top: 37px;

}
.main-text-p
{
    font-family: 'Roboto', sans-serif;
    color: #485863;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 30px;

}

.footer {
    display: flex;
    flex-wrap: nowrap;
    width: 1280px;
    height: 69px;
    background-color: #e5e5e5;
    margin-top: 130px;
}
.footer-nav-list {
    background-color: #e5e5e5;
    width: 875px;
    height: 28px;
    padding: 20px 50px 20px 40px;
    cursor: pointer;

}
.footer li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color:#0C1927;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    padding-left: 20px;

}
.footer li:hover {
    color: #4FCAFB;
    text-decoration: underline;

}
.footer-copyright
{
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    padding: 25px 50px 20px 40px;

}